@font-face {
  font-family: Numans;
}

.App {
  text-align: center;
  font-family: Numans;
}

.App-header {
  background-color: #A7A5C6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#navigationBar {
  width: 100%;
  height: 80px;
  background-color: #8797B2;
  position: absolute;
  z-index: 20;
  color: white;
}

#navigationBar h1 {
  position: inherit;
  top: 1%;
  left: 42px;
  font-size: 28px;
}

#navigationBar img {
  position: inherit;
  width: 50px;
  top: 15%;
  left: 124px;
}

#navigationBar a {
  font-size: 22px;
  padding-right: 30px;
}

#navigationBar .options {
  top: 33%;
  position: inherit;
  right: 1%;
}

a {
  text-decoration: none !important;
  color: white;
}

a:hover {
  color: #6D8A96 !important;
}
