.app-container {
  display: flex;
  justify-content: space-between;
}
.RecallComponent {
  background-color: white;
  /* Add any additional styles for your text component here */
}

.CameraComponent {
  background-color: #8a8ab9; /* Replace #yourColor with the color you want */
}
.screenshot-section {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.screenshot-section h2 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
}

#imageGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

#imageGrid img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.tensorflow-container {
  background-color: #3C96FC;
  width: 700px;
  height: 490px;
  padding-left: 1.5%;
  padding-top: 1%;
  margin-top: 100px;
  margin-left: 230px;
}

.LivePage {
  align-items: center;
}

.begin-button-lp {
  background-color: #ffffff;
  color: #a4b3be;
  border: 2px solid #5D707F; /* Green */
  width: 180px;
  height: 55px;
  font-size: 30px;
  font-family: Helvetica;
  transition-duration: 0.3s;
  margin: 0px 50px 50px 0px;
}

.begin-button-lp:hover {
  background-color: #5D707F; /* Green */
  color: white;
}

.key-buttons-lp {
  display: flex;
  align-items: bottom;
}
/* 
.header-lp {
  font-family: Numans;
  color: white;
  font-size: 40px;
  text-align: left;
  width: 100px;
  margin: 110px 30px 40px 10px;
} */

.middle-lp {
  margin-top: 0px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  justify-content: center;
}

/* .modified-container-lp {
  position: relative;
  display: block;
  left: 5px;
  width: 200px;
  height: 60px;
  margin-top: -150px;
  padding: 30px;
  background-color: #398163;
  border-radius: 5px;
  box-shadow: 0 0 8px 0 398163 (0, 0, 0, 0.25);
} */

.modified-button-lp {
  display: block;
  height: 80px;
  width: 250px;
  background-color: #5D707F;
  border: solid #5D707F;
  border-width: 0 10px;
  color: #ffffff;
  font-size: 20px;
  margin: -37px 0px -25px -37px;
  padding: 15px;
  padding-left: 10px;
  transition: transform 0.15s;
  transition: background-color 0.15s;
  font-family: Numans;
  text-align: center;
  margin-top: 20px;
  margin-left: 470px;
}

.dot {
  height: 20px;
  width: 20px;
  background-color: #74c5a3;
  display: inline-block;
}

.icons {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-left: 50px;
}

.arg {
  /* align-items: center; */
  margin-top: 30px;
  margin-left: 50px;
  display: grid;
  position: relative;
}

.head-lp {
  width: 120px;

}

.speakerphone-lp {
  width: 120px;
}

.primary-button-lp {
  display: block;
  height: 70px;
  width: 700px;
  background-color: #74c5a3;
  border: solid #74c5a3;
  border-width: 0 10px;
  color: #ffffff;
  font-size: 20px;
  margin: -37px 0px -25px -37px;
  margin-left: 30px;
  padding: 15px;
  padding-left: 10px;
  transition: transform 0.15s;
  transition: background-color 0.15s;
  font-family: Numans;
  text-align: left;
}

.primary-button-div-lp {
  display: grid;
  align-items: center;
  font-size: 18px;
}

.poopoo {
  display: block;
  height: 70px;
  width: 120px;
  background-color: #5D707F;
  border: solid #5D707F;
  color: #ffffff;
  font-size: 15px;
  transition: transform 0.15s;
  transition: background-color 0.15s;
  font-family: Numans;
  margin-top: -10px;
  margin-left: 20px;
}

.poopoo:hover {
  background-color: #5D707F; /* Green */
  color: #74c5a3;
}

.peepee:hover {
  background-color: #5D707F; /* Green */
  color: #74c5a3;
}

.peepee {
  display: block;
  height: 70px;
  width: 120px;
  background-color: #5D707F;
  border: solid #5D707F;
  color: #ffffff;
  font-size: 15px;
  transition: transform 0.15s;
  transition: background-color 0.15s;
  font-family: Numans;
  margin-top: -10px;
  margin-left: 20px;
}