.header-image {
  max-width: 18%; /* Ensure the image is responsive */
  height: auto; /* Maintain aspect ratio */
  display: inline-block; /* Center image horizontally */
}

.app-container {
  display: flex;
  flex-direction: column;
  margin-top: 2px;
}

.main-content {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.RecallComponent {
  background-color: white;
  flex: 1;
}

.CameraComponent {
  background-color: #CD4536;
  flex: 1;
}

.screenshot-section {
  margin-top: 20px;
  padding: 10px;
  background-color: #fff;
}

.screenshot-section h2 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
}

#imageGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

#imageGrid img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.tensorflow-container {
  background-color: white;
  width: 900px; /* Adjust width as needed */
  height: 500px; /* Adjust height as needed */
  margin: 80px auto; /* Center horizontally and add top margin */
  padding: 1%; /* Padding for inner content */
}

/*.tensorflow-container {*/
/*  background-color: white;*/
/*  width: 700px;*/
/*  height: 490px;*/
/*  padding-left: 1%;*/
/*  padding-top: 1%;*/
/*  margin-top: 100px;*/
/*  margin-left: 230px;*/
/*}*/

.container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.LivePage {
  align-items: center;
}

.begin-button-lp {
  background-color: #ffffff;
  color: #a4b3be;
  border: 2px solid #ECE9E8; /* Green */
  width: 180px;
  height: 55px;
  font-size: 30px;
  font-family: Helvetica;
  transition-duration: 0.3s;
  margin: 0px 50px 50px 0px;
}

.begin-button-lp:hover {
  background-color: #ECE9E8;
  color: white;
}

.key-buttons-lp {
  display: flex;
  align-items: bottom;
}

.middle-lp {
  margin-top: 0px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  justify-content: center;
}

.modified-button-lp {
  display: block;
  height: 80px;
  width: 250px;
  background-color: #5D707F;
  border: solid #5D707F;
  border-width: 0 10px;
  color: #ffffff;
  font-size: 20px;
  margin: -37px 0px -25px -37px;
  padding: 15px;
  padding-left: 10px;
  transition: transform 0.15s;
  transition: background-color 0.15s;
  font-family: Numans;
  text-align: center;
  margin-top: 20px;
  margin-left: 470px;
}

.dot {
  height: 20px;
  width: 20px;
  background-color: #74c5a3;
  display: inline-block;
}

.icons {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-left: 50px;
}

.arg {
  /* align-items: center; */
  margin-top: 30px;
  margin-left: 50px;
  display: grid;
  position: relative;
}

.head-lp {
  width: 120px;

}

.speakerphone-lp {
  width: 120px;
}

.primary-button-lp {
  display: block;
  height: 70px;
  width: 700px;
  background-color: #74c5a3;
  border: solid #74c5a3;
  border-width: 0 10px;
  color: #ffffff;
  font-size: 20px;
  margin: -37px 0px -25px -37px;
  margin-left: 30px;
  padding: 15px;
  padding-left: 10px;
  transition: transform 0.15s;
  transition: background-color 0.15s;
  font-family: Numans;
  text-align: left;
}

.primary-button-div-lp {
  display: grid;
  align-items: center;
  font-size: 18px;
}

.poopoo {
  display: block;
  height: 70px;
  width: 120px;
  background-color: #5D707F;
  border: solid #5D707F;
  color: #ffffff;
  font-size: 15px;
  transition: transform 0.15s;
  transition: background-color 0.15s;
  font-family: Numans;
  margin-top: -10px;
  margin-left: 20px;
}

.poopoo:hover {
  background-color: #5D707F; /* Green */
  color: #74c5a3;
}

.peepee:hover {
  background-color: #5D707F; /* Green */
  color: #74c5a3;
}

.peepee {
  display: block;
  height: 70px;
  width: 120px;
  background-color: #5D707F;
  border: solid #5D707F;
  color: #ffffff;
  font-size: 15px;
  transition: transform 0.15s;
  transition: background-color 0.15s;
  font-family: Numans;
  margin-top: -10px;
  margin-left: 20px;
}